/Accounts/
keyfile.json
databaseinfo.json
/out/
/out/production/AccountSystem/com/accountsystem/Account.class
/out/production/AccountSystem/com/accountsystem/AccountManager.class
/out/production/AccountSystem/com/accountsystem/Main.class